#heading {
    /* background-image: url(./images/DCs-background.jpeg); */
    background-color: #f2e2d6;
}   
#heading img {
    width: 30%;
    margin-left: 71%;
}
#heading i {
    background: -webkit-linear-gradient(rgb(236, 106, 106), rgb(75, 175, 125));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Condiment', cursive;
}
.headtextdiv {
    width: 50%;   
}
